# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

#Files
src/main/java/com/github/lina/kafka/twitter/TwitterConfig.java
TwitterConfig.java
kafka-producer-twitter/src/main/java/kafka/twitter/TwitterConfig.java

# Maven
log/
target/TwitterConfig.java
target/
